<h2>Add a new player...</h2>
<form action="/todo/create">
  <input class="text-input" id="new-todo-description" name="description" type="text" placeholder="Enter player name">
  <input class="text-input" id="new-pomodoro-estimate" name="pomodoro_estimate" type="number" placeholder="Player goal count">
  <input class="button" id="add-new-todo-button" type="submit" value="Add player">
</form>
